@use "settings";
@use "vuetify/lib/styles/main.sass";
@use "web_gradients";

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.7);
	border-radius: 20px;
	border: transparent;
}

.v-data-table .v-table__wrapper > table > thead > tr > td, .v-data-table .v-table__wrapper > table > thead > tr th, .v-data-table .v-table__wrapper > table tbody > tr > td, .v-data-table .v-table__wrapper > table tbody > tr th {
	background: unset !important;
}

.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
	background: rgb(255, 255, 255, 0.5) !important;
}

// The multiple repetitions are for increasing the precedence of this selector
.v-card-title.v-card-title.v-card-title {
	// Vuetify sets
	// white-space: nowrap;
	// for v-card-title, while this may look nice,
	// the text often gets sliced off on mobile devices & smaller screen sizes
	// Hence:
	white-space: normal;
}

.clamp-image-height {
	// (As above) the multiple repetitions are for increasing the precedence of this selector
	&.clamp-image-height, &.clamp-image-height img {
		max-height: 200px;
	}
}
