@use "settings";
@use "vuetify/lib/styles/main.sass";
@use "web_gradients";

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.7);
	border-radius: 20px;
	border: transparent;
}

.v-data-table .v-table__wrapper > table > thead > tr > td, .v-data-table .v-table__wrapper > table > thead > tr th, .v-data-table .v-table__wrapper > table tbody > tr > td, .v-data-table .v-table__wrapper > table tbody > tr th {
	background: unset !important;
}

.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
	background: rgb(255, 255, 255, 0.5) !important;
}

.v-card-actions {
	flex-wrap: wrap;
}

.v-card-actions .v-btn:first-child {
	margin-inline-start: 0.5rem;
}

.v-card-actions .v-btn {
	margin-top: 0.5rem;
}

// The multiple repetitions are for increasing the precedence of this selector
.v-card-title.v-card-title.v-card-title {
	// Vuetify sets
	// white-space: nowrap;
	// for v-card-title, while this may look nice,
	// the text often gets sliced off on mobile devices & smaller screen sizes
	// Hence:
	white-space: normal;
}

.clamp-image-height-sm {
	// (As above) the multiple repetitions are for increasing the precedence of this selector
	&.clamp-image-height-sm, &.clamp-image-height-sm img {
		max-height: 150px;
	}
}

.clamp-image-height {
	// (As above) the multiple repetitions are for increasing the precedence of this selector
	&.clamp-image-height, &.clamp-image-height img {
		max-height: 200px;
	}
}

.clamp-image-height-lg {
	// (As above) the multiple repetitions are for increasing the precedence of this selector
	&.clamp-image-height-lg, &.clamp-image-height-lg img {
		max-height: 300px;
	}
}

.mh-100vh, body, body > div {
	min-height: 100vh;
}

.mh-100 {
	min-height: 100%;
}

.scroll-y {
	overflow-y: scroll !important;
	overflow-y: overlay !important;
}

.sticky-top {
	z-index: 10000 !important;
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 0px !important;
}

pre, .pre-wrap {
	white-space: pre-wrap;
}
